<!DOCTYPE html>
<html lang="en">
{include file="NiceAdmin/head.html"}
<body>

{include file="NiceAdmin/header.html"}

{include file="NiceAdmin/Sidebar.html"}

{*include file="NiceAdmin/main.html"*}

{if $pageview == "viewNewAnnounce"}
{include file="NiceAdmin/viewNewAnnounce.html"}
{/if}
{if $pageview == "viewPublishAnnounce"}
{include file="NiceAdmin/viewPublishAnnounce.html"}
{/if}
{if $pageview == "viewRequestMsgAll"}
{include file="NiceAdmin/viewRequestMsg.html"}
{/if}


{include file="NiceAdmin/footer.html"}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{include file="NiceAdmin/vendorJS.html"}


</body>

</html>