<!DOCTYPE html>
<html lang="uk-UA">
{include file="head.html"}
<body>
{include file="headers.html"}



{*include file="sidebar.html"*}


{if !$pageView}
{include file="main.html"}
{/if}


{if $pageView == "aboutUs"}
{include file="aboutus.html"}
{/if}
{if $pageView == "service"}
{include file="service.html"}
{/if}
{if $pageView == "view"}
{include file="view.html"}
{/if}
{if $pageView == "newCars"}
{include file="new-cars.html"}
{/if}
{if $pageView == "allCars"}
{include file="all-cars.html"}
{/if}
{if $pageView == "contact"}
{include file="contact.html"}
{/if}
{if $pageView == "404"}
{include file="404.html"}
{/if}
{if $pageView == "zvidki-deshevshe-prignati-avto.html"}
{include file="zvidki-deshevshe-prignati-avto.html"}
{/if}
{if $pageView == "prigon-avto-dlya-viyskovih.html"}
{include file="prigon-avto-dlya-viyskovih.html"}
{/if}
{if $pageView == "kupit-avto-dlya-zsu-nedorogo.html"}
{include file="kupit-avto-dlya-zsu-nedorogo.html"}
{/if}
{if $pageView == "poshuk-i-pokupka-avto-dlya-zsu.html"}
{include file="poshuk-i-pokupka-avto-dlya-zsu.html"}
{/if}
{if $pageView == "prodag-ta-kupivlya-avto-dlya-zsu.html"}
{include file="prodag-ta-kupivlya-avto-dlya-zsu.html"}
{/if}
{if $pageView == "avto-dlya-zsu.html"}
{include file="avto-dlya-zsu.html"}
{/if}
{if $pageView == "ABRA"}
{include file="abra.html"}
{/if}




{include file="modal.html"}
{include file="footer.html"}
{include file="js.html"}

</body>

</html>