			<div class="container">
				<div class="welcome-hero-txt">
					<h1 class="animated fadeInUp">{$meta.h1|escape}{*$viewCar['name_announce']*}</h1>
					<p>
					{*$data['main_text']*}
					{$meta.intro|escape}
					</p>
				</div>
			</div>


			<div class="container">
				<div class="row">
				

				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--new-cars start -->
		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<!--<p>Список нових надходжен на автомобільний ринок  <span></span></p>-->
					<h2 id="name_announce">{$viewCar['name_announce']}</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						{*{foreach from=$viewCar key=k item=v}*}
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											{foreach from=$viewCar['img_announce'] key=k item=v}
											<!--<img src="//{$domainName}/img/announce/{$viewCar['img_dir']}/{$viewCar['img_announce'][0]}" alt="img"/>-->
											<img src="//{$domainName}/img/announce/{$viewCar['img_dir']}/{$v}" alt="{$viewCar['name_announce']} - Фото {$k}"/>
											{/foreach}
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#"> {$viewCar['marke']} {$viewCar['modell']} ціна:<span> {$viewCar['price']}</span> Euro</a></h2>
											<p>
												{$viewCar['name_announce']}
												 											</p>
											<p class="new-cars-para2">{$vviewCar['fahrzeugzustand']}</p>
											<p class="new-cars-para2">Пробіг: {$viewCar['kilometerstand']}	 км.
											<br>Рік випуску: {$viewCar['erstzulassung']}
											<br>Коробка передач: {$viewCar['Getriebe']}
											<br>Колір: {$viewCar['farbe']}
											<br>Тип: {$viewCar['fahrzeugtyp']}
											<br>Двері: {$viewCar['anzahl_turen']}
											<br>
											</p>
											<p class="new-cars-para2">
											{$viewCar['text_full_announce']}
											</p>
											<input type="hidden" id="car" value="{$viewCar['img_dir']}">
											<button class="welcome-btn new-cars-btn" onclick="myModalOpen();" id="myBtn">
												Замовити консультацію
											</button>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						{*{/foreach}*}
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->

