
			<div class="container">
				<div class="welcome-hero-txt">
					<h1 class="animated fadeInUp">Хто ми та навіщо ми це робимо? </h1>
					<p>
Ми группа волонтерів яка прагне допомогти нашим захисникам в здобутті перемоги над агрессором. Ми прагнемо цього не меньше за наших захисників. Тому ми витрачаємо свій час та сили на пошук автівок для наших захисників на фронт для виконання бойьових та логістичних завдань. 
<br>Ми запустили цей проєкт та долучаемо небайдужих людей які мають час та змогу в пошуку Авто для ЗСУ по всій Европі.
<br>Пошук і покупка авто для ЗСУ за кордоном це той ще квест, тому радимо звертатися до тих хто йього вже пройшов та знає про всі підводні камінці.

<br><br>
Продаж та купівя авто для ЗСУ можливе тільки на території іноземних країн таких як Німетчина, Польша, Чехія, Словатчина та іньши. В Україну такі авто для ЗСУ ввозиться як гуманітарний ванттаж та передається на облік волонтерському фонду для подальшої передачі військовим на вимогу. Таке авто не може бути відчуженно , продано не певний період часу.
<br>На питання "Звідки дешевше пригнати авто?" Немає сто відсоткової відповіді. Хтось готовий подарувати авто для військових, а іноді просять сумму начеб то авто тільки з конвееру заводу виїхало. Можно з певністью сказати одне, що добре авто в гарному технічному стані буде коштуватиме дорожче навідь в самій дешевій країні Европи, в такомц разі не соромно купити авто для військових. Тим паче якщо є змога купити авто для ЗСУ недорого відповідно стану.
<br> 
<br>Пригон авто для військових зазвичай триває від декількох діб до одного тижня. Процедура оформлення залежить від часу оформлення документів та відстані до кордону. Чим більша відстань тим довше їхати. Зазвичай це 1000км за 10 годин. Тут треба робити поправки на черги на кордоні та час відпочинку в дорозі.
						
					</p>
				</div>
			</div>





		<!--service start -->
		<section id="service" class="service">
			<div class="container" style="display:none">
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car"></i>
								</div>
								<h2><a href="#">Впевниність підбору <span> авто </span> </a></h2>
								<p>
									Ми шукаємо тільки ті авто які технічно справні і можоть бути використанні на фронті без глабальних фінансових вкладень. Зайвий клопіт нікому не треба!
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-repair"></i>
								</div>
								<h2><a href="#">Тільки технічно справні авто</a></h2>
								<p>Авто яки ми пропонуємо відповідають опису та діляться на дві категоріі.
								 <br>
								 <br><b>1. Повністью справні до використання на дорогах ЄС.
								 <br>2.Умовно справні, справні та не придатні до використання на дороах ЕС.</b></p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-1"></i>
								</div>
								<h2><a href="#">Повний звіт з послуги доставки авто</a></h2>
								<p>
								    Незалежно від того хто замовляє авто, ми робимо повний звіт всіх фінансових витрат перед військовослужбовцем! Довіра та мета перемоги України понад усе!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

