<section class="section">
  <div class="row">
    <div class="col-12">
      <form id="cell-profile-form" class="row g-3">
        <input type="hidden" name="cell_id" id="cell_id" value="{$edit_cell.id|default:''}">
        <div class="col-md-6">
          <label for="cellCode" class="form-label">Code</label>
          <input type="text" class="form-control" id="cellCode" value="{$edit_cell.code|escape}" readonly>
        </div>
        <div class="col-12">
          <label for="cellDescription" class="form-label">Description</label>
          <textarea class="form-control" id="cellDescription" name="description" rows="3">{$edit_cell.description|escape}</textarea>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-primary js-core-link" data-core-action="save_cell">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</section>