<!DOCTYPE html>
<html lang="{$xlang}">
 {include file='cc_header.html'}
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">
 {include file='cc_navBar.html'}



{if $main}
{include file='cc_main.html'}
{/if}

{if $ourteam}{include file='cc_ourteam.html'}{/if}
{if $howitwork}{include file='cc_howitwork.html'}{/if}
{if $industries}{include file='cc_industries.html'}{/if}

{if $contact}{include file='cc_contact.html'}{/if}


{if $predictions}
{include file='predictions.html'}
{/if}

{if $about}{include file='cc_about.html'}{/if}
{if $service}{include file='cc_service.html'}{/if}



{include file='cc_footer.html'}

{include file='cc_js.html'}

  </body>
</html>