
    <div class="site-blocks-cover overlay" style="background-image: url(/images/main_bg_sklad.jpg);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            

            <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">{"OurTeamH1"|__}</h1>
            <!--<p class="mb-5" data-aos="fade-up" data-aos-delay="100">A Logistics Company</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary py-3 px-5 text-white">Get Started!</a></p>
	    -->
          </div>
        </div>
      </div>
    </div>  


    <div class="site-section border-bottom" id="section-our-team">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary" data-aos="fade">{"OurTeamH2"|__}</h2>
            <p>{"OurTeamText"|__}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person">
              <img src="/images/personal/denis_timofeev.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
              <h3>Denys Temofeev</h3>
              <p class="position text-muted">Co-Founder, Auditor</p>
              <p class="mb-4">{"OurTeamTextPueple1"|__}</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person">
              <img src="/images/person_2.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
              <h3>Kseniya Temofeeva</h3>
              <p class="position text-muted">Co-Founder, COO</p>
              <p class="mb-4">{"OurTeamTextPueple2"|__}</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="person">
              <img src="/images/personal/ilya_chykalov.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
              <h3>Ilya Chykalov</h3>
              <p class="position text-muted">Co-Founder, CO</p>
              <p class="mb-4">{"OurTeamTextPueple3"|__}</p>
              <ul class="ul-social-circle">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


